* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.title {
    font-size: 37px;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 43px;
}

.container {
    margin-top: 70px;
    padding-top: 72px;
}

.box-user {
    margin: 0 auto;
    width: 1051px;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
}

.box-user p {
    font-size: 20px;
    color: #b9b9b9;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    padding-inline: 395px;
    padding-block: 20px;
    text-align: center;
}

button {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0);
    color: #EC362D;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

section {
    margin: 72px auto;
    width: 1051px;
    max-width: 100%;
}

section p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.box-quizz {
    height: 181px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.quizz {
    width: calc(33.33% - 12px);
    height: 181px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.quizz::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.title-quizz {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 1;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    word-break: break-all;
}

.quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


/* Tela 2 - Página de um quizz (perguntas)*/

.quiz-page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-head {
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-head h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

.question-box {
    width: 759px;
    height: auto;
    margin-top: 42px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.question h2 {
    text-align: center;
    margin: auto 16px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 19px;
    color: #FFF;
}

.alternatives {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alternatives > div,
.levels-container {
    margin-top: 25px;
}

.alternatives img,
.levels-container img {
    width: 340px;
    height: 250px;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
}

.alternatives p {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px; 
    word-wrap: break-word;  
}

.non-selected {
    filter: opacity(0.3);
    transition:all 500ms linear;
    pointer-events: none;
}

.correct p {
    color: green;
}

.wrong p {
    color: red;
}

.levels-container {
    display: flex;
}

.levels-container img {
    width: 50%;
}

.levels-container span {
    width: 50%;
    margin-left: 25px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    word-wrap: break-word;
    color: #484848;
}

.quiz-page #btn-submit {
    margin-top: 50px;
    width: 262px;
}

.backToHome {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-top: 16px;    
    color: #818181; 
    cursor: pointer; 
}

/* Tela 3.1 e 3.2- Informações básicas do Quiz e perguntas do Quiz*/

.basic-info,
.quiz-questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.basic-info h1,
.quiz-questions h1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
}

.form-container,
.questions-container {
    width: 600px;
    height: 256px;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.form-container input,
.questions-container input {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 4.5px 0;
    padding: 16px;
}

.form-container input::placeholder,
.questions-container input::placeholder {
    color: #D1D1D1;
    font-style: italic;
}

#btn-submit {
    width: 370px;
    height: 54px;
    font-size: 18px;
    margin-top: 81px;
    color: #FFFFFF;
    border-radius: 15px;
    background-color: #EC362D;
}

.questions-container {
    height: auto;
}

.main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
}

.questions-container label {
    font-size: 18px;
    align-self: flex-start;
}

.questions-container label:first-child {
    width: 564px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 5px;
}

.questions-container ion-icon {
    cursor: pointer;
    opacity: 1;
}

.swap {
    display: none;
    transition: all 500ms linear;
}

/* Tela 3.3 - Criação de um quizz */

form {
    display: flex;
    flex-direction: column;
}

.quizz-form {
    width: 600px;
    height: auto;
    margin: 24px auto;
    padding-top: 24px;
    background-color: #FFFFFF;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-form input {
    width: 100%;
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 16px;
    font-size: 16px;
}

input:placeholder-shown {
    font-style: italic;
    color: #bababa;
}

.quizz-form div {
    margin: 12px 0;
}

.title-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-inline: calc(50% - 100px);
    font-size: 16px;
}

label {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #b9b9b9;
    text-align: start;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

/* Tela 3.4 - Página de um quizz (perguntas) */
.quizz-button {
    width: 220px;
    height: 44px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius: 15px;
    margin-block: 12px;
}

.disabled {
    opacity: 0.5;
}

.home-button {
    width: 220px;
    height: 44px;
    border: none;
    background-color: rgba(red, green, blue, 0);
    color: #818181;
    border-radius: 15px;
}

.quizz-sucess {
    margin-inline: calc(50% - 80px);
}

.quizz-ready {
    margin: 46px auto;
    width: 500px;
    height: 266px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.quizz-ready::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.quizz-ready img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

@media (max-width: 1100px) {

    .container {
        padding-inline: 16px;
    }

    .box-quizz {
        width: 100%;
    }

    .quizz {
        width: calc(50% - 12px);
    }

    .box-user p {
        padding-inline: 0;
    }


}

@media (max-width: 768px) {
    .container {
        padding-inline: 16px;
    }

    .box-quizz {
        width: 100%;
    }

    .quizz {
        width: calc(100% - 12px);
    }

    .box-user p {
        padding-inline: 0;
    }

    .quizz-ready {
        width: 340px;
        height: 190px;
        margin: 28px auto;
    }

    .quizz-ready::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    }

    .quizz-ready img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .quizz-form {
        width: 375px;
        height: auto;
        margin: 24px auto;
        padding-top: 24px;
        background-color: #FFFFFF;
        padding: 16px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }

    .quizz-form div:nth-child(5) input {
        height: 171px;

    }

    .quizz-form div:nth-child(5) input::placeholder {}
}